@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.flex {
  display: flex;
}

.signup {
  height: 500px;
  width: 450px;
  margin: 2rem auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px 50px;
}
.signup-container h1 {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
}

.input-details {
  flex-direction: column;
  margin-top: 20px;
}

.input-box {
  display: inline-block;
  height: 50px;
  margin-block: 10px;
  padding-left: 20px;
  font-size: 20px;
  width: 100%;
  border: 2px solid gray;
}

.checkBox-container {
  margin-block: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  display: inline-block;
}

.checkBox-container p {
  display: inline;
}

.checkBox-container a {
  color: #e23744;
}

.input-checkBox {
  margin-right: 10px;
}
input.input-checkBox {
  width: 20px;
  height: 20px;
}

.GoogleLogo {
  width: 25px;
}

button {
  width: 100%;
  height: 40px;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.Or-Text {
  text-align: center;
  margin-block: 10px;
}

.signup-bottom-login {
  margin-left: 1rem;
  color: #e23744;
}

.bottom-p-tag {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
