@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Okra", Helvetica, sans-serif;
}

body {
  /* background-color: #000000, opacity 0%; */
  background-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

.container {
  width: 100%;
  margin-inline: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.ali {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}

.po-rel {
  position: relative;
}

.po-ab {
  position: absolute;
}

.col-15 {
  width: 100%;
}

.col-30 {
  width: 100%;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 100%;
}

.col-20 {
  width: 100%;
}

/* Nav-Buttons */

.nav-header-btns {
  background-color: #ffffff;
  padding-block: 10px 0px;
  top: 0px;
  z-index: 1;
}
.nav-btn-main {
  display: flex;
  flex-wrap: nowrap; /* single row */
  align-items: center;
  gap: 10px; /* responsive spacing */
  overflow-x: auto; /* safety on very small screens */
  scrollbar-width: none;
}
.nav-btn-main.flex {
  flex-wrap: nowrap !important;
}

.nav-btn-main::-webkit-scrollbar {
  display: none;
}

.nav-btn-main i {
  margin-right: 8px;
}

.sub-nav-btn {
  display: inline-flex; /* not flex */
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  width: auto; /* ENSURES no full width */
  min-width: max-content;

  padding: 6px 14px;
  font-size: 14px;
  font-weight: 400;

  border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid rgb(203, 203, 203);
  color: grey;
  cursor: pointer;
}

.sub-nav-btn:hover {
  background-color: #f4f4f4;
}

/* Media Query */

@media (min-width: 320px) {
  .container {
    width: 300px;
  }

  .col-15 {
    width: 100%;
    margin: 0 auto;
  }

  .col-30 {
    width: 100%;
    margin: 0 auto;
  }

  .col-50 {
    width: 100%;
  }

  .col-20 {
    width: 100%;
    margin: 0 auto;
  }

  .logo {
    width: 100px;
  }

  .input-bar {
    display: none;
  }

  .login-button {
    font-size: 13px;
  }

  .sub-nav-a-1,
  .sub-nav-a-2 {
    padding: 22px;
  }

  .sub-nav-a-img {
    width: 22px;
  }

  .sub-nav-a-text {
    font-size: 17px;
    margin-left: 15px;
  }

  .sub-nav-slots {
    justify-content: center;
  }

  .nav-btn-main {
    justify-content: center;
  }

  .sub-nav-btn {
    padding: 5px 10px;
    font-size: 11px;
    border-radius: 6px;
  }
  .slider-1,
  .slider-2 {
    margin-top: 0px;
    padding-block: 20px;
  }

  .slider-1-container,
  .slider-2-container {
    margin-top: 10px;
  }

  .slider-1-cards h2,
  .slider-2-cards h2,
  .box-cards-main h2,
  .explore-section-main h2 {
    margin-block: 20px;
    text-align: center;
    font-size: 22px;
  }

  .explore-section-main {
    width: 70%x;
    padding: 0 20px;
    justify-content: center;
    margin: 0 auto;
  }

  .slider-1-round-img,
  .slider-2-round-img {
    width: 180px;
  }

  .card-container-box {
    margin-block: 10px;
  }

  .card-container-img {
    height: 140px;
  }

  .card-text p {
    font-size: 13px;
  }

  .card-left-text h3 {
    font-size: 16px;
  }

  .card-right-text h4 {
    padding: 5px;
    font-size: 12px;
  }

  .explore-selection select {
    margin-bottom: 15px;
  }

  .selectors {
    padding: 10px 0px 10px 10px;
    font-size: 1rem;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
  }

  .footer-header {
    text-align: center;
  }

  .footer-selection {
    margin-block: 25px;
    justify-content: center;
  }

  .footer-body-content {
    margin-block: 15px;
  }

  .information {
    margin: 20px 10px;
  }

  .footer-bottom {
    text-align: center;
  }

  .scroll-icon {
    padding: 12px;
    font-size: 16px;
  }
}

/* Media-Query 576 */

@media (min-width: 576px) {
  .container {
    width: 520px;
  }

  .col-15 {
    width: 100%;
    margin: 0 auto;
  }

  .col-30 {
    width: 100%;
    margin: 0 auto;
  }

  .col-50 {
    width: 100%;
  }

  .col-20 {
    width: 100%;
    margin: 0 auto;
  }

  .logo {
    width: 120px;
  }

  .login-button {
    font-size: 18px;
  }

  .sub-nav-a-1,
  .sub-nav-a-2 {
    padding: 25px;
  }

  .sub-nav-a-img {
    width: 25px;
  }

  .sub-nav-a-text {
    font-size: 19px;
  }

  .sub-nav-slots {
    justify-content: center;
  }

  .sub-nav-btn {
    padding: 8px;
    font-size: 15px;
  }

  .slider-1-cards h2,
  .slider-2-cards h2,
  .box-cards-main h2,
  .explore-section-main h2 {
    font-size: 28px;
  }

  .slider-1-round-img,
  .slider-2-round-img {
    width: 260px;
  }

  .boxcards-slabs {
    margin-top: 30px;
  }

  .card-container-box {
    width: 350px;
    margin: 12px auto;
  }

  .card-container-img {
    height: 200px;
  }

  .footer-header {
    text-align: center;
  }

  .footer-selection {
    margin-block: 25px;
    justify-content: center;
  }

  .footer-body-content {
    margin-block: 15px;
    margin: 0 auto;
  }

  .information {
    margin: 20px 10px;
    align-items: center;
  }

  .footer-bottom {
    text-align: center;
  }

  .scroll-icon {
    padding: 12px;
    font-size: 16px;
  }
}

/* Media Query 768 */

@media (min-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }

  .col-15 {
    width: 50%;
    margin: 0 auto;
  }

  .col-30 {
    width: 100%;
    margin: 0 auto;
  }

  .col-100 {
    width: 100%;
  }

  .col-50 {
    width: 50%;
  }

  .col-20 {
    width: 40%;
    margin: 0 auto;
  }

  .sub-nav-a-1,
  .sub-nav-a-2 {
    padding: 30px;
  }

  .sub-nav-a-img {
    width: 30px;
  }

  .slider-1-cards h2,
  .slider-2-cards h2,
  .box-cards-main h2,
  .explore-section-main h2 {
    font-size: 30px;
    margin-block: 30px;
    text-align: center;
  }

  .slider-1-round-img,
  .slider-2-round-img {
    width: 220px;
  }

  .boxcards-slabs {
    margin-top: 30px;
  }

  .sub-nav-a-text {
    font-size: 21px;
  }

  .card-container-box {
    width: 450px;
    margin: 10px auto;
  }
  .sub-nav-btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .footer-header {
    text-align: left;
    align-items: center;
  }
  .footer-logo {
    display: flex;
    justify-content: left;
  }

  .nav-btn-main {
    gap: 12px;
  }

  .footer-logo-img {
    width: 180px;
  }

  .footer-selection {
    justify-content: flex-end;
  }

  .footer-body-content {
    margin-block: 15px;
    justify-content: space-evenly;
  }

  .information {
    margin: 20px 10px;
  }

  .information a {
    font-size: 16px;
  }

  .footer-bottom {
    text-align: center;
  }

  .scroll-icon {
    padding: 12px;
    font-size: 17px;
  }
}

/* Media Query 992 */

@media (min-width: 992px) {
  .container {
    width: 920px;
  }

  .col-15 {
    width: 30%;
    margin: 0 auto;
  }

  .col-30 {
    width: 50%;
    margin: 0 auto;
  }

  .col-100 {
    width: 100%;
  }

  .col-50 {
    width: 50%;
  }

  .col-20 {
    width: 30%;
    margin: 0 auto;
  }

  .input-bar {
    display: contents;
  }

  .selection {
    width: 150px;
  }

  .searchBar {
    width: 310px;
    font-size: 14px;
  }

  .login-button {
    font-size: 21px;
  }

  .sub-nav-a-1,
  .sub-nav-a-2 {
    padding: 30px;
  }

  .sub-nav-a-img {
    width: 30px;
  }

  .sub-nav-a-text {
    font-size: 20px;
    margin-left: 15px;
  }

  .sub-nav-slots {
    justify-content: flex-start;
  }

  .nav-btn-main {
    justify-content: flex-start;
  }

  .sub-nav-btn {
    padding: 8px 18px;
    font-size: 15px;
  }

  .slider-1-cards h2,
  .slider-2-cards h2,
  .box-cards-main h2,
  .explore-section-main h2 {
    font-size: 35px;
    margin-block: 30px;
  }

  .boxcards-slabs {
    margin-top: 30px;
  }

  .card-container-box {
    width: 400px;
    margin: 10px auto;
  }

  .explore-selection select {
    margin-bottom: 18px;
  }

  .selectors {
    padding: 15px 0px 15px 15px;
    font-size: 1.3rem;
  }

  .footer-selector {
    width: 120px;
  }

  .information {
    margin: 12px 20px;
  }

  .footer-bottom {
    text-align: left;
  }

  .scroll-icon {
    padding: 15px;
    font-size: 20px;
  }
}

/* Media Query 1200 */

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }

  .col-15 {
    width: 15%;
  }

  .col-30 {
    width: 30%;
  }

  .col-100 {
    width: 100%;
  }

  .col-50 {
    width: 50%;
  }

  .col-20 {
    width: 20%;
  }

  .selection {
    width: 12rem;
  }

  .searchBar {
    font-size: 16px;
    width: 25rem;
  }

  .slider-1-cards h2,
  .slider-2-cards h2,
  .box-cards-main h2,
  .explore-section-main h2 {
    font-size: 32px;
    margin-block: 30px;
    text-align: left;
  }

  .slider-1-round-img,
  .slider-2-round-img {
    width: 10%;
  }

  .information {
    align-items: flex-start;
    margin: 0px 0px;
  }

  .information a {
    font-size: 17px;
  }

  .header2 {
    margin-top: 25px;
  }

  .footer-social-links a i {
    margin-block: 7px;
    font-size: 22px;
  }

  .scroll-icon {
    padding: 20px;
    font-size: 25px;
  }
}

/* Media Query 1522 */

@media (min-width: 1522px) {
  .container {
    width: 1300px;
  }

  .col-15 {
    width: 15%;
  }

  .col-30 {
    width: 30%;
  }

  .col-100 {
    width: 100%;
  }

  .col-50 {
    width: 50%;
  }

  .col-20 {
    width: 20%;
  }
}
