/* CONTAINER */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* NAVBAR */
.navBar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-left {
  display: flex;
  align-items: center;
}

/* LOGO */
.logo {
  width: 300px;
  max-width: 500px;
  margin-right: 50px;
}

/* INPUT GROUP */
.input-bar {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* INPUT WRAPPER */
.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 250px;
}

/* LEFT ICON INSIDE INPUT */
.icon-left {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #e23636;
}

/* SELECT BOX */
.selection {
  width: 100%;
  padding: 12px 12px 12px 40px;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px rgb(190 195 196);
  background-color: white;
  cursor: pointer;
  border-radius: 6px;
  height: 48px;
}

/* SEARCH BAR */
.searchBar {
  width: 100%;
  padding: 12px 12px 12px 40px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 5px rgb(190 195 196);
  border-radius: 6px;
  border: none;
}

/* RIGHT BUTTONS */
.nav-right {
  display: flex;
  align-items: center;
}

.login-button {
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 18px;
  color: grey;
  text-decoration: none;
}

.login-button:active {
  border: 1.5px solid red;
}
/* Sub-nav */

.sub-nav-header {
  margin-top: 10px;
  background-color: #ffffff;
  padding-block: 10px;
  border-bottom: 2px solid rgba(220, 220, 220, 0.457);
}

.sub-nav-a-1,
.sub-nav-a-2 {
  background-color: #fceec0;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 30px;
  position: relative;
  cursor: pointer;
}

.sub-nav-a-text {
  font-size: 21px;
  margin-left: 15px;
}

.sub-nav-a-2 {
  background-color: #f8f8f8;
  margin-left: 30px;
}

.sub-nav-a-img {
  position: absolute;
  width: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}

.active-tab {
  color: #ff0000; /* red text for active */
  border-bottom: 3px solid #ff0000; /* red bottom border */
}

.inactive-tab {
  color: #555555; /* grey text for inactive */
  border-bottom: none;
}
