@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Okra, Helvetica, sans-serif;
}

body {
   background-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

.container {
  /* width: 1150px; */
  width: 100%;
  margin-inline: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.ali {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}

.po-rel {
  position: relative;
}

.po-ab {
  position: absolute;
}

.col-23 {
  /* width: 23%; */
  width: 100%;
}

.col-100 {
  width: 100%;
}

.col-30 {
  /* width: 30%; */
  width: 100%;
}

.col-50 {
  /* width: 50%; */
  width: 100%;
}

.col-20 {
  /* width: 20%; */
  width: 100%;
}

/* Nav-Buttons */
.sub-nav-header {
  position: sticky;
  top: 0;
  color: white;
  z-index: 2;
}

.header-btn {
  position: sticky;
  top: 0px;
  padding-block: 14px;
  color: white;
  background-color: white;
  z-index: 5;
  margin-top: 35px;
}

.sub-nav-btn i {
  margin-right: 10px;
}

.sub-nav-btn {
  margin: 0px 15px 0px 0px;
  text-align: center;
  padding: 8px 10px;
  border-radius: 7px;
  background-color: #ffffff;
  justify-content: center;
  border: 1px solid rgb(203, 203, 203);
  font-size: 15px;
  color: grey;
  cursor: pointer;
  width: 9rem;
}

.sub-nav-btn:hover {
  background-color: #f4f4f4;
}

.crownGold {
  color: gold;
}

/* Dinning-Hero-Section */

.dinning-hero-section {
  margin-block: 30px;
}

.dinning-hero-img {
  width: 100%;
}


/* Media Query Section */

/* Media Query 360 */

@media (min-width: 360px) {
  .container {
    width: 350px;
  }

  .col-23 {
    width: 65%;
  }

  .col-30 {
    margin: 0 auto;
    width: 100%;
  }

  .col-20 {
    width: 100%;
    margin: 0 auto;
  }

  .col-50 {
    width: 100%;
    margin: 0 auto;
  }

  .logo {
    width: 100px;
  }

  .login-button {
    font-size: 13px;
  }

  .input-bar {
    display: none;
  }

  .sub-nav-slots {
    justify-content: center;
  }

  .sub-nav-a-1,
  .sub-nav-a-2 {
    padding: 22px;
  }

  .sub-nav-a-img {
    width: 22px;
  }

  .sub-nav-a-text {
    font-size: 17px;
    margin-left: 15px;
  }

  .rect-header h2 {
    font-size: 26px;
    text-align: center;
  }

  .rect-sub-header {
    justify-content: center;
    text-align: center;
    margin-block: 32px;
  }

  .rect-sub-header h3 {
    font-size: 18px;
  }

  .all-collection {
    font-size: 18px;
  }

  .rectangle-slot {
    height: 220px;
    margin: 20px auto;
    font-size: 18px;
  }

  .nav-buttons {
    justify-content: center;
  }

  .sub-nav-btn {
    margin: 5px;
  }

  .box-cards-main h2 {
    margin-top: 50px;
    font-size: 23px;
    text-align: center;
  }

  .boxcards-slabs {
    margin-top: 30px;
  }

  .card-container-box {
    padding: 20px 15px;
    margin: 10px auto;
  }

  .card-container-img {
    height: 150px;
  }

  .card-left-text {
    width: 190px;
  }

  .card-left-text h3 {
    font-size: 16px;
  }

  .card-right-text h4 {
    padding: 5px 12px;
    font-size: 12px;
  }

  .selectors {
    padding: 8px 0px 8px 8px;
    font-size: 1rem;
  }

  .explore-section {
    padding: 5px;
  }

  .explore-section-main h2 {
    text-align: center;
  }

  .footer-header {
    text-align: center;
  }

  .footer-selection {
    margin-block: 25px;
    justify-content: center;
  }

  .footer-body-content {
    margin-block: 15px;
  }

  .information {
    margin: 20px 10px;
    align-items: center;
  }

  .footer-bottom {
    text-align: center;
  }

  .scroll-icon {
    padding: 12px;
    font-size: 16px;
  }
}

/* Media Query 576 */

@media (min-width: 576px) {
  .container {
    width: 520px;
  }

  .col-23 {
    width: 70%;
    margin: 0 auto;
  }

  .col-30 {
    margin: 0 auto;
    width: 100%;
  }

  .col-20 {
    width: 100%;
    margin: 0 auto;
  }

  .col-50 {
    width: 100%;
    margin: 0 auto;
  }

  .logo {
    width: 120px;
  }

  .login-button {
    font-size: 18px;
  }

  .sub-nav-a-1,
  .sub-nav-a-2 {
    padding: 25px;
  }

  .sub-nav-a-img {
    width: 25px;
  }

  .sub-nav-a-text {
    font-size: 19px;
  }

  .rect-header h2 {
    font-size: 26px;
  }

  .rect-sub-header h3 {
    font-size: 18px;
  }

  .all-collection {
    font-size: 17px;
  }

  .rect-sub-header h3 {
    margin-block: 0px 12px;
  }

  .rectangle-slot {
    height: 200px;
    margin: 20px auto;
    font-size: 18px;
  }

  .sub-nav-btn {
    margin: 10px;
  }

  .card-container-box {
    padding: 20px 15px;
    width: 350px;
    margin: 12px auto;
  }

  .card-container-img {
    height: 200px;
  }

  .card-left-text {
    width: 200px;
  }

  .card-left-text h3 {
    font-size: 18px;
  }

  .card-right-text h4 {
    padding: 6px 12px;
    font-size: 14px;
  }

  .selectors {
    padding: 10px 0px 10px 10px;
    font-size: 1.1rem;
  }

  .explore-section-main h2 {
    text-align: center;
  }

  .footer-header {
    text-align: center;
  }

  .footer-selection {
    margin-block: 25px;
    justify-content: center;
  }

  .footer-body-content {
    margin-block: 15px;
    margin: 0 auto;
  }

  .information {
    margin: 20px 10px;
    align-items: center;
  }

  .footer-bottom {
    text-align: center;
  }

  .scroll-icon {
    padding: 12px;
    font-size: 16px;
  }
}

/* Media Query 768 */

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .col-23 {
    width: 35%;
  }

  .col-30 {
    width: 50%;
  }

  .col-20 {
    width: 40%;
    margin: 0 auto;
  }

  .col-50 {
    width: 50%;
  }

  .sub-nav-a-1,
  .sub-nav-a-2 {
    padding: 30px;
  }

  .sub-nav-a-img {
    width: 30px;
  }

  .sub-nav-a-text {
    font-size: 21px;
  }

  .rect-header h2 {
    font-size: 30px;
  }

  .rect-sub-header h3 {
    margin-block: 15px 10px;
  }

  .rect-sub-header h3 {
    font-size: 21px;
  }

  .all-collection {
    font-size: 17px;
  }

  .rectangle-box-container {
    justify-content: center;
  }

  .rectangle-slot {
    height: 260px;
    margin: 20px;
  }

  .card-container-box {
    padding: 20px 15px;
  }

  .card-left-text {
    width: 210px;
  }

  .card-left-text h3 {
    font-size: 20px;
  }

  .selectors {
    padding: 10px 0px 10px 10px;
    font-size: 1.1rem;
  }

  .footer-header {
    text-align: left;
    align-items: center;
  }

  .footer-logo-img {
    width: 180px;
  }

  .footer-selection {
    justify-content: flex-end;
  }

  .footer-body-content {
    margin-block: 15px;
    justify-content: space-evenly;
  }

  .information {
    margin: 20px 10px;
  }

  .information a {
    font-size: 16px;
  }

  .footer-bottom {
    text-align: center;
  }

  .scroll-icon {
    padding: 12px;
    font-size: 17px;
  }
}

/* Media Query 992 */

@media (min-width: 992px) {
  .container {
    width: 920px;
  }

  .col-20 {
    width: 30%;
  }

  .input-bar {
    display: contents;
  }

  .selection {
    width: 150px;
  }

  .searchBar {
    width: 310px;
    font-size: 14px;
  }

  .login-button {
    font-size: 21px;
  }

  .sub-nav-slots {
    justify-content: flex-start;
  }

  .rectangle-slot {
    height: 320px;
  }

  .card-container-box {
    padding: 15px;
    margin: 10px;
    width: 430px;
  }

  .card-left-text {
    width: 250px;
  }

  .selectors {
    padding: 15px 0px 15px 15px;
    font-size: 1.2rem;
  }

  .footer-selector {
    width: 120px;
  }

  .information {
    margin: 12px 20px;
  }

  .footer-bottom {
    text-align: left;
  }

  .scroll-icon {
    padding: 15px;
    font-size: 20px;
  }
}

/* Media Query 1200 */

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }

  .col-23 {
    width: 20%;
  }

  .col-30 {
    width: 30%;
  }

  .col-20 {
    width: 20%;
  }

  .col-50 {
    width: 50%;
  }

  .selection {
    width: 12rem;
  }

  .searchBar {
    font-size: 16px;
    width: 25rem;
  }

  .rect-sub-header {
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-block: 10px 0px;
  }

  .rect-sub-header h3 {
    font-size: 20px;
  }

  .rect-header h2 {
    text-align: left;
  }

  .nav-buttons {
    justify-content: left;
  }

  .box-cards-main h2 {
    font-size: 30px;
    text-align: left;
  }

  .card-container-box {
    width: 360px;
    margin: 10px;
    padding: 15px;
  }

  .card-container-img {
    height: 210px;
  }

  .card-left-text {
    width: 180px;
  }

  .card-left-text h3 {
    font-size: 19px;
  }

  .card-right-text h4 {
    font-size: 15px;
  }

  .card-text p {
    font-size: 16px;
  }

  .selectors {
    font-size: 1.3rem;
  }

  .explore-section-main h2 {
    text-align: left;
    font-size: 30px;
  }

  .information {
    align-items: flex-start;
    margin: 0px 0px;
  }

  .information a {
    font-size: 17px;
  }

  .header2 {
    margin-top: 25px;
  }

  .footer-social-links a i {
    margin-block: 7px;
    font-size: 22px;
  }

  .scroll-icon {
    padding: 20px;
    font-size: 25px;
  }
}

/* Media Query 1522 */

@media (min-width: 1522px) {
  .container {
    width: 1300px;
  }

  .card-container-box {
    padding: 20px 12px;
  }
}
