/* Explore-Section */

.explore-section {
  padding: 30px;
  background-color: #fcfcfc;
}

.explore-section-main h2 {
  margin-block: 50px;
}

.explore-selection select {
  margin-bottom: 25px;
  border: none;
  cursor: pointer;
}

.selectors {
  width: 100%;
  padding: 15px 0px 15px 15px;
  border-radius: 7px;
  font-size: 1.3rem;
  background-color: white;
}

/* Footer */

footer {
  background-color: #f8f8f8;
  padding: 50px 0px 20px 0px;
}

.footer-logo-img {
  width: 200px;
  width: 80px;
}

.footer-main {
  font-size: 1rem;
  font-weight: 600;
}
.footer-header {
  justify-content: space-between;
  /* align-items: center; */
  font-size: 1rem;
  font-weight: 600;
}

.footer-selection {
  text-align: right;
  justify-content: flex-end;
}

.footer-selector {
  width: 100px;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  border: 1px solid gray;
  padding: 0px 10px;
}

/* Footer Body */

.footer-body-content {
  justify-content: center;
  margin-block: 50px;
  align-items: flex-start !important;
    flex-wrap: wrap;  
}

.information {
  flex-direction: column;
  align-items: flex-start !important;

}

.information a {
  color: grey;
  margin-block: 7px;
  font-size: 15px;
  text-align: left;
}

.header2 {
  margin-top: 20px;
}

.footer-logo-img {
  width: 8rem;
}

.footer-social-links a {
  color: black;
  margin-right: 10px;
}

.footer-social-links a i {
  margin-block: 7px;
  font-size: 20px;
}

/* Download Section */

.download {
  flex-direction: column;
}

.download-img {
  /* width: 100px; */
  width: 150px;
}

/* Footer Bottom */

.footer-bottom {
  margin-top: 25px;
  font-size: 14px;
  color: grey;
}

/* Scroll Button */

.scrollup {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
}

.scroll-icon {
  background-color: #ef4f5f;
  border-radius: 50%;
  color: white;
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
}
